:root {
  --primary: hsla(198, 100%, 49%, 1);
  --bg: hsla(94, 50%, 95%, 1);
  --red: hsla(0, 100%, 50%, 1);
  --orange: hsla(40, 100%, 50%, 1);
  --green: hsla(126, 100%, 50%, 1);
  --blue: hsla(241, 100%, 50%, 1);
  --pink: hsla(299, 100%, 50%, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
